<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
  <title>React - Typescript Example</title>
</head>

<body>
  <div id='content' style="margin:auto; width:600px; margin-top:150px"></div>
</body>

<script src="/assets/js/compiled/sample.js"></script>
</html>